.nui-ico-file75, .nui-ico-file32, .nui-ico-file {
    background-image: url(../images/fileico_v4.png);
    background-repeat: no-repeat;
}
.nui-ico-file {
    height: 16px;
    width: 16px;
}
.nui-ico-file, .nui-ico-file-1 {
    background-position: 0 0;
}
.nui-ico-file-txt, .nui-ico-file-22 {
    background-position: -672px 0;
}
.dD .nui-ico {
    margin: 0 4px;
}
.pN {
    line-height: normal;
    padding: 10px 0 0;
}
.oR {
    padding: 0 10px;
    position: relative;
}
.ll .nui-ico {
    margin-top: -5px;
}
.hq {
    font-size: 14px;
    line-height: 1.1;
    margin-left: 4px;
}
.nui-userLayer-oprt-item, .nui-moduleTabs .nui-tabs-item, .nui-txt-link {
    --color: #236515;
}
.hr {
    margin-left: 4px;
}
.oR .pl {
    margin-top: 10px;
}
.nui-split-cDark, .nui-bdr-dark {
    border-color: #BECAA3;
}
.np {
    margin-left: 7px;
}
.oS {
    padding: 0 10px;
    position: relative;
}
.jG {
    display: inline-block;
    height: auto;
    margin: 6px 40px 6px 0;
    padding: 10px 0 0;
    position: relative;
    vertical-align: top;
    width: 120px;
}
.jG table {
    margin-left: 10px;
    position: relative;
    width: 100px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.dz, .fd {
    height: 100px;
    vertical-align: middle;
}
.dz {
    font-size: 0;
    height: 100px;
    line-height: 0;
    padding: 0;
    text-align: center;
    width: 100px;
}
.bJ {
    max-height: 100px;
    overflow: hidden;
    width: 100px;
}
.nui-ico-file75, .nui-ico-file75-1 {
    background-position: 0 -144px;
}
.nui-ico-file75-rar, .nui-ico-file75-6 {
    background-position: -375px -144px;
}
.nui-ico-file75 {
    height: 75px;
    width: 75px;
}
.nui-ico-file75, .nui-ico-file32, .nui-ico-file {
    background-image: url("../images/fileico_v4.png");
    background-repeat: no-repeat;
}
.fd {
    height: auto;
    vertical-align: top;
}
.cx, .cy {
    display: block;
    margin-bottom: 6px;
    text-align: center;
    width: 100px;
}
.cx {
    color: #000000;
    font-weight: normal !important;
    overflow: hidden;
    padding-top: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nui-txt-tips {
    color: #999999 !important;
}
.dA {
    bottom: 115px;
    color: #FFFFFF;
    display: none;
    left: -80px;
    line-height: normal;
    position: absolute;
    width: 258px;
    z-index: 3;
}
.cz {
    font-size: 0;
    height: 12px;
    line-height: 0;
}
.cB {
    padding: 0 9px;
    text-align: center;
}
.cB {
    background-image: url(../images/att_bgy.png);
    background-repeat: repeat-y;
}
.bK {
    border-bottom: 1px solid #464747;
    line-height: 1.66;
    padding: 5px 17px;
    text-align: center;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}
.bZ {
    color: #FFFFFF;
    display: inline-block;
    height: 54px;
    margin: 3px 3px 0;
    text-align: center;
    vertical-align: top;
    width: 54px;
}
a {
    color: #236515;
    text-decoration: none;
}
.M {
    background-position: -128px -96px;
    width: 16px;
}
.bs {
    height: 20px;
    margin: 6px 0;
}
.bZ:hover {
    background-position: 0 -96px;
}
.bZ:active {
    background-position: -64px -96px;
}
.bs, .bZ:hover, .bZ:active, .cz, .cA {
    background-image: url(../images/att.png);
    background-repeat: no-repeat;
}
.bt {
    background: none repeat scroll 0 0 transparent !important;
    color: #666666;
    cursor: default;
}
.bt .N {
    background-position: -160px -128px !important;
}
.N {
    background-position: -160px -96px;
    width: 22px;
}
.O {
    background-position: -192px -96px;
    width: 24px;
}
.bt .P {
    background-position: -224px -128px !important;
}
.P {
    background-position: -224px -96px;
    width: 21px;
}
.cA {
    background-position: 0 -48px;
    font-size: 0;
    height: 20px;
    line-height: 0;
}
.nui-addr-add, .nui-addr, .nui-bdr-item {
    border-color: #A6B090;
}
.nui-addr-add, .nui-addr, .nui-bg-item {
    background-color: #D0DBB8;
}
.et {
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
    padding-top: 9px;
    width: 118px;
    z-index: 2;
}
.eu .dA {
    left: -40px;
}
.et .dA {
    display: block;
}
.et table {
    margin-left: 9px;
}
.mV {
    background-color: #FFFFE1;
}
.nui-simpleTree .nui-tree-item-label {
    color: #555555;
    display: block;
    padding: 3px 4px 3px 32px;
}