<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>login_servlet</servlet-name><!-- 这个name与下面那个必须一致，由mapping寻找servlet，否则找不到 -->
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>login_servlet</servlet-name><!-- 这个名字随便取 -->
    <url-pattern>/login</url-pattern><!-- 需要拦截的路径 -->
  </servlet-mapping>	
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>   
  </welcome-file-list>
</web-app>
