@charset "utf-8";
html{
	height:100%;
}
body{
	font-family:"微软雅黑","宋体", Arial, Helvetica, sans-serif;
	font-size:14px;
	margin:0px;
	padding:0px;
	text-align:left;
}
img{
	border:none;	
}

#rightbar .title{
	color:#000;
	font-size:24px;
	font-weight:bold;
	margin-top:11px;
	margin-bottom:26px;
}
#rightbar .commenText{
	color:#595959;
	font-size:14px;
	margin-bottom:15px;
}
#rightbar .tips{
	width:70px;
	text-align:left;
	display:block;
	float:left;
}
#rightbar .y_middle{
	margin-top:7px;
}
#rightbar .txt{
	width:182px;
	height:35px;
	border:none;
	padding-left:5px;
	padding-right:5px;
	background:url(../images/manageMent/systemIcon/input_bg2.png) no-repeat;
}
#rightbar .sel{
	padding:0x;
	margin:0px;
	width:192px;
}
#rightbar .bigPic{
	margin-left:73px;
	float:left;
}
#rightbar .preview img{
	width:261px;
	height:282px;
}
#rightbar .smallPic{
	margin-left:10px;
	float:left;
}
#rightbar .smallPic img.forty{
	width:40px;
	height:40px;
	margin-left:55px;
	margin-top:20px;
}
#rightbar .smallPic img.hundrand{
	width:100px;
	height:100px;
	margin-left:25px;
	margin-top:10px;
}
#rightbar .x_center{
	margin-left:54px;
	margin-top:10px;
}
#rightbar .x_center_100{
	margin-left:47px;
	margin-top:10px;
}
#rightbar .btn{
	width:131px;
	height:23px;
	border:none;
	color:#FFF;
	background:url(../images/manageMent/systemIcon/bg-button-green.gif) top left repeat-x;
	cursor:pointer;
}
#rightbar .submt{
	margin-left:139px;
	margin-bottom:50px;
}
#rightbar .updatePsd{
	margin-left:100px;
	margin-bottom:50px;
}
#rightbar .r_w_tips{
	margin-left:5px;
	margin-right:0px;
}

/*********************************************查看管理员列表的css样式 开始*************************************************/
#rightbar .managerList{
	width:989px;
	margin-top:30px;
}
#rightbar .listHead .listHeadLeft{
	width:8px;
	height:42px;
	background:url(../images/manageMent/systemIcon/b_left.png) no-repeat;
	float:left;
}
#rightbar .listHead .listHeadMiddle{
	width:969px;
	height:31px;
	background:url(../images/manageMent/systemIcon/b_middle.png) repeat-x;
	float:left;
	padding-top:10px;
	padding-left:4px;
}
#rightbar .listHead .listHeadRight{
	width:8px;
	height:42px;
	background:url(../images/manageMent/systemIcon/b_right.png) no-repeat;
	float:left;
}

#rightbar .listBody{
	width:971px;
	padding-left:8px;
	padding-right:8px;
	background:#FFF;
	border-left:#b4b4b4 solid 1px;
	border-right:#b4b4b4 solid 1px;
	border-top:#b4b4b4 solid 1px;
}
#rightbar .listBody table{
	width:971px;
	border:none;
}
#rightbar .listBody table tr{
	height:52px;
}
#rightbar .listBody table tr td{
	text-align:center;
	height:16px;
	padding-top:18px;
	padding-bottom:18px;
	border:0px;
}
#rightbar .listBody table tr .firstCol{
	width:5%;
}
#rightbar .listBody table tr .secondCol{
	width:30%;
}
#rightbar .listBody table tr .thirdCol{
	width:20%;
}
#rightbar .listBody table tr .fourthCol{
	width:25%;
}
#rightbar .listBody table tr .fifthCol{
	width:20%;
}
#rightbar .listBody table tbody{
	color:#535353;
}
#rightbar .listBody table tbody a{
	color:#61a700;
	text-decoration:none;
}
#rightbar .listBody .addManagerBtn{
	margin-top:16px;
	padding-bottom:30px;
}
#rightbar .listBody .addManagerBtn .btn{
	margin-left:18px;
	float:left;
}
#rightbar .listBody .addManagerBtn .pages{
	margin-right:18px;
	float:right;
}
#rightbar .listBody .addManagerBtn .pages span{
	color:#61a700;
	width:23px;
	height:23px;
	float:left;
	display:block;
}
#rightbar .listBody .addManagerBtn .pages a{
	color:#61a700;
	text-decoration:none;
	margin-right:7px;
	display:block;
	float:left;
}
#rightbar .listBody .addManagerBtn .pages a:hover{
	color:#000;
	text-decoration:none;
}
#rightbar .listBody .addManagerBtn .pages .num{
	width:22px;
	height:22px;
	border:#b4b4b4 solid 1px;
	text-align:center;
}
#rightbar .listBody .addManagerBtn .pages .selNum{
	color:#FFF;
	width:23px;
	height:23px;
	text-align:center;
	background:url(../images/manageMent/systemIcon/bg-button-green.gif) repeat-x;
}

#rightbar .listFoot .listHeadLeft{
	width:8px;
	height:8px;
	background:url(../images/manageMent/systemIcon/b_footer_left.png) no-repeat;
	float:left;
}
#rightbar .listFoot .listHeadMiddle{
	width:973px;
	height:8px;
	background:url(../images/manageMent/systemIcon/b_footer_middle.png) repeat-x;
	float:left;
}
#rightbar .listFoot .listHeadRight{
	width:8px;
	height:8px;
	background:url(../images/manageMent/systemIcon/b_footer_right.png) no-repeat;
	float:left;
}

/*********************************************查看管理员列表的css样式 结束*************************************************/

/*********************************************显示公告列表的css样式 开始*************************************************/
#rightbar #notice .firstCol{
	width:5%;
}
#rightbar #notice .secondCol{
	width:10%;
}
#rightbar #notice .thirdCol{
	width:25%;
}
#rightbar #notice .fourthCol{
	width:20%;
}
#rightbar #notice .fifthCol{
	width:20%;
}
#rightbar #notice .sixthCol{
	width:20%;
}
/*********************************************显示公告列表的css样式 开始*************************************************/

.clear{
	margin:0px;
	padding:0px;
	clear:both;
}
.background_gray{
	background:#eeeeee;	
}
.orange{
	color:#ff8a01;
}
.green{
	color:#0C0;	
}






