.tip{
    background-clip: padding-box;
    background-color: transparent;
    line-height:20px;
    opacity: 0.9;
    text-align: center;
    z-index:10000;
    position: absolute;
    color: #f7f7f7;
    display: none;
    opacity: 0;
    border-radius: 5px;
}
.pageTip {
	background-color: transparent;
    color: #333333;
    position: fixed;
    width: 70px;
    top:50%;
    left:50%;
    margin-left:0;
    opacity: 1;
}
.tip .tip-content{
	background-color: rgba(85, 85, 85, 0.8);
    border-radius: 5px;
    box-shadow: 2 5px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    line-height: 20px;
    padding: 3px 5px;
    color:#FFFFFF;
}