<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	
	<bean id="dao" class="com.chinasofti.dao.impl.UserDaoImpl"/>
	<bean id="dao1" class="com.chinasofti.dao.impl.UserDaoImpl1"/>
	
	<bean id="service" class="com.chinasofti.service.impl.UserServiceImpl">
		<constructor-arg>
			<ref bean="dao"/>		
		</constructor-arg>
	</bean>
	
	<bean id="ui" class="com.chinasofti.ui.UserUI" >
		<constructor-arg>
			<ref bean="service"/>
		</constructor-arg>
	
	</bean>
</beans>