.body_table
{
	width:100%;
}
.first_td
{
	width:20%;
	border-bottom: 1px dashed #CBCCCE;
	height: 20px;
	font-size:14px;
	text-align:left;
	font-weight:bolder;
}

td {
	height: 40px;
	line-height:normal;
	border-bottom: 1px dashed #CBCCCE;
	padding: 3px;
	text-indent:12px;
	line-height:9px;
}
textarea
{
	width:400px;
	height:80px;
}
