
@font-face {
    font-family: 'Apercu Regular';
    src: url('http://f.fontdeck.com/f/1/Rm83R1lGb3MAAzX9KEh+4uyDJfT64KXVtFkUK8TIFZUifDJV+K6Ldk0fE0b5U6SK1XU.eot');
    src: url('http://f.fontdeck.com/f/1/Rm83R1lGb3MAAzX9KEh+4uyDJfT64KXVtFkUK8TIFZUifDJV+K6Ldk0fE0b5U6SK1XU.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/Rm83R1lGb3MAAzX9KEh+4uyDJfT64KXVtFkUK8TIFZUifDJV+K6Ldk0fE0b5U6SK1XU.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/Rm83R1lGb3MAAzX9KEh+4uyDJfT64KXVtFkUK8TIFZUifDJV+K6Ldk0fE0b5U6SK1XU.ttf') format('opentype'),
    url('http://f.fontdeck.com/f/1/Rm83R1lGb3MAAzX9KEh+4uyDJfT64KXVtFkUK8TIFZUifDJV+K6Ldk0fE0b5U6SK1XU.svg#929') format('svg');
    font-weight: normal;
    font-style: normal;
}
