li.sub-menu{
	display:none;
}
li.sub-menu a{
	padding-left:25px;
}
#addTopic{
	display:none;
	float:left;
	margin-top:-5px;
}
.tabs-2 #addTopic{
	display:inline-block;
}
.tabs-2 .tabs-other,.tabs-2 label>i{
	display:none;
}
.queryUnit{
	display:inline-block;
	float:left;
}
.tabs-other{
	display:block;
}
.tabs-hide{
	display:none;
}

#div_lock{
	background: none repeat scroll 0 0 #DCE2F1;
    opacity: 0.4;
}
#pop_info table tr td,#pop_info table tr th{
	text-align:center;
}
#pop_info table tr:hover td{
	background:white;
}
#pop_info table{
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
table tr td{
	position:relative;
}
input.edit{
	width:80px;line-height:14px;margin-bottom:0;
}
.btn-circle{
	border-radius: 100% 100% 100% 100% !important;
	padding: 4px 6px 3.5px 6.5px;
	margin-left:16px;
}
.row_selected{
	background-color:#F5F5F5;
}
.option-content{
	height:32px;min-width:480px;
}
.queryUnit label{
	cursor:pointer;
}
.back{
	display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.question{
	border:1px dashed rgb(201,201,201);
	margin:10px 10px;
	padding:5px
}